
body{
    background-color: #FFF8F2;
    margin:0;
    padding:0;
    font-family: "Fredoka", sans-serif;
   
}

header{
    background-color: #FFF8F2;
    height: 100px;
    margin-bottom: 20px;
}

header span{
    display: block;
    text-align: center;
    color: #6B5444;
    font-weight: 500;
    font-size: 32px;
    padding: 25px;
}

nav{
    
    margin: 5px 20px;
    background-color: #FFF8F2;
    border:3px solid #6B5444;
    border-radius: 50px;
    height: 55px;
    font-weight: 500;
    font-size: 25px;
    padding: 5px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

nav a{
    color:#6B5444;
    text-decoration: none;
}

nav a:hover{
   color:rgb(185, 167, 167);
}

main{
    
    max-width: 1400px;
    margin:0 auto;
    padding:50px;
}

main h1{
    padding-top: 0px;
    font-size: 45px;
    border-radius: 50px;
    display: block;
    text-align: center;
    color: #6B5444;
    font-weight: 500;
    margin: 9px;
}

.card h2{
    font-size: 25px;
    font-weight: 500;
}
.card{
    
    border:3px solid #6B5444;
    border-radius: 50px;
    padding: 30px 30px 30px 30px;
    background-color: #FFF8F2;
    width:auto;
    font-size: 22px;
    color: #6B5444;
    margin-bottom:0;
}

.profile_img{
    
    height:200px;
}

.intro{
    display:flex;
    gap: 20px;
    align-items: flex-start;
}


.intro img {
    max-width: 200px;
    height: auto;
    border-radius: 10px;
    
}

.country{
    display:flex;
    align-items: flex-start;
    margin-bottom:0;
}

.flag{
    
    width:30%;
    display: flex;
    text-align: center;
    flex-direction: column;
}

.flag h2{
    display: flex;
    justify-content: flex-start;
}

.country-description{
    width:70%;
    padding-top: 52px;
    padding-left:50px;
    
}

.mas_flag{
    width:270px;
    height:auto;
}

blockquote{
  
margin:0;     
display: flex;  
  text-align: center;
  font-size: medium;
  border: none; 
  justify-content: flex-start;
  
}

.container{
    display:grid;
    grid-template-columns:2fr 1fr;
    gap: 20px;
    
}

footer{
    height:72px;
    background-color: #6B5444;
    padding-top:1px;
    margin-bottom:0px;
    padding-bottom:15px;
}

footer p{
    padding-top:0px;
    display:block;
    text-align: center;
    color:#FFF8F2;
    margin-bottom:0px;
    padding-bottom:0px;
}

ul a{
    color:#6B5444;
    text-decoration: none;
}

ul a:hover{
    color:rgb(185, 167, 167);
}

@media (max-width: 900px) {
    
    .container {
        grid-template-columns: 1fr;
    }

    .country {
        flex-direction: column;
    }

    .flag,
    .country-description {
        width: 100%;
        padding-left: 0;
    }
}

