@media (min-width: 740px) {
    

    nav a.active {
        color: #bad6eb;
    }
}

@media (min-width: 1024px) {
    body{
        min-height: 100vh;
    }
    #menu {
        display: none;
    }

    header {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: 20px;
    }

    nav {
        width: auto;
        flex-basis: auto;
    }


    .navigation li {
        display: inline-block;
    }

    nav ul {
        display: flex;
        flex-direction: row;
        gap: 1rem;
        width: auto;
    }

    nav a {
        flex: none;
        padding: 1rem 2rem;
    }

    nav a.active {
        color: #bad6eb;
    }

    #cards {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
	gap: 1rem;
	padding: 1rem;
    
  }
  
#cards section {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background: #ffffff;
    border-radius: 8px;
    padding: 1rem;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
    max-width: 300px;
  }
  
  #cards img {
    width: 250px;
    height: auto;
    max-width: 100%;
    object-fit: cover;
    border-radius: 6px;
    margin-top: 0.5rem;
  }

  footer{
    position: absolute;
    width:100%;
    top: 855px;
  }
}